<li class="nav-link">
    <a asp-area="Dashboard" asp-controller="Ideas" asp-action="Index">
        <i class='bx bxs-dashboard icon' ></i>
        <span class="text nav-text">Post</span>
    </a>
</li>

<li class="nav-link">
    <a  asp-area="Dashboard" asp-controller="Departments" asp-action="Index">
        <i class='bx bxs-buildings icon'></i>
        <span class="text nav-text">Department</span>
    </a>
</li>

<li class="nav-link">
    <a  asp-area="Manager" asp-controller="User" asp-action="Index">
        <i class='bx bxs-user-account icon' ></i>
        <span class="text nav-text">Account</span>
    </a>
</li>

<li class="nav-link">
    <a  asp-area="Manager" asp-controller="Role" asp-action="Index">
        <i class='bx bx-street-view icon'></i>
        <span class="text nav-text">Role</span>
    </a>
</li>

<li class="nav-link">
    <a target="_blank" asp-area="Files" asp-controller="FileManager" asp-action="Index">
        <i class='bx bx-file icon'></i>
        <span class="text nav-text">File</span>
    </a>
</li>

<li class="nav-link">
    <a asp-area="Database" asp-controller="DbManage" asp-action="Index">
        <i class='bx bx-data icon'></i>
        <span class="text nav-text">Database</span>
    </a>
</li>