@inject IHttpContextAccessor HttpContextAccesser
@{
    var userRole = HttpContextAccesser.HttpContext.Session.GetString(key: "roleName");
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QA_Application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/base.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300&display=swap"
        rel="stylesheet">

</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="logo.png" alt="">
                </span>


                <partial name="_LoginPartial.cshtml"></partial>

            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">

                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Search...">
                </li>

                <ul class="menu-links">
                    @*<li class="nav-link">
                        <a asp-controller="Home" asp-action="Index">
                          <i class='bx bx-home icon'></i>
                            <span class="text nav-text">Home</span>
                        </a>
                    </li>*@
                    <partial name="_AdminMenu"></partial>
                    @if(userRole == "Admin")
                    {
                        <partial name="_AdminMenu"></partial>
                    }

                    @if(userRole == "Manager" || userRole == "User")
                    {
                        <li class="nav-link">
                            <a asp-area="Dashboard" asp-controller="Ideas" asp-action="GetPost">
                              <i class='bx bxs-dashboard icon' ></i>
                                <span class="text nav-text">Post</span>
                            </a>
                        </li>

                       <li class="nav-link">
                            <a  asp-area="Dashboard" asp-controller="Departments" asp-action="Index">
                                <i class='bx bxs-buildings icon'></i>
                                <span class="text nav-text">Department</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a asp-area="Dashboard" asp-controller="Categories" asp-action="Index">
                                <i class='bx bx-category icon'></i>
                                <span class="text nav-text">Category</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a asp-area="Dashboard" asp-controller="SpecialTags" asp-action="Index">
                                <i class='bx bx-purchase-tag-alt icon'></i>
                                <span class="text nav-text">Special Tag</span>
                            </a>
                        </li>

                       <li class="nav-link">
                            <a target="_blank" asp-area="Files" asp-controller="FileManager" asp-action="Index">
                                <i class='bx bx-file icon'></i>
                                <span class="text nav-text">File</span>
                            </a>
                        </li>
                    }

                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" >
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text" >Logout</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
                
            </div>
        </div>

    </nav>

    <section class="home">
        @RenderBody()
    </section>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
    <script src="~/js/exporting.js"></script>
    <script src="~/js/highcharts.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/JavaScript.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
