body {
    background-color: #34383e;
    font: normal 13px/20px "Helvetica Neue", helvetica, arial, sans-serif;
    padding: 100px;
    color: #333;
}

p {
    font-size: 120%;
    margin-bottom: 15px;
}

div {
    background: #fff;
    background: -webkit-linear-gradient(top, #fff, #ddd);
    background: -moz-linear-gradient(top, #fff, #ddd);
    background: -ms-linear-gradient(top, #fff, #ddd);
    background: -o-linear-gradient(top, #fff, #ddd);
    background: linear-gradient(to bottom, #fff, #ddd);
    margin: 0 auto;
    width: 140px;
    padding: 50px 70px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}

a.button {
    margin: 0 1px;
    padding: 6px 15px 5px;
    font-weight: bold;
    font-size: 100%;
    color: #fff;
    text-align: center;
    border: none;
    border-right: 1px solid rgba(0,0,0,.2);
    border-bottom: 1px solid rgba(0,0,0,.2);
    background: #3d7cb1;
    background: -webkit-linear-gradient(top, #2cb0e5, #1a7cd3);
    background: -moz-linear-gradient(top, #2cb0e5, #1a7cd3);
    background: -ms-linear-gradient(top, #2cb0e5, #1a7cd3);
    background: -o-linear-gradient(top, #2cb0e5, #1a7cd3);
    background: linear-gradient(to bottom, #2cb0e5, #1a7cd3);
    text-shadow: rgba(0,0,0,.25) 1px 1px 1px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    text-decoration: none;
}

    a.button:hover {
        background: #1e80bc;
        background: -webkit-linear-gradient(top, #26a0cd, #1661ab);
        background: -moz-linear-gradient(top, #26a0cd, #1661ab);
        background: -ms-linear-gradient(top, #26a0cd, #1661ab);
        background: -o-linear-gradient(top, #26a0cd, #1661ab);
        background: linear-gradient(to bottom, #26a0cd, #1661ab);
    }

    a.button:active {
        background: #1e80bc;
    }

span.heart {
    color: #c70000;
    font-size: 118%;
}
