<!-- Heading -->
            <div class="sidebar-heading">
                General
            </div>

            <!-- Nav Item - Post Ideas -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseIdeas"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Ideas</span>
                </a>
                <div id="collapseIdeas" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Post:</h6>
                        <a asp-area="Dashboard" asp-controller="Ideas" asp-action="Create"  class="collapse-item active">Post</a>
                        <a asp-area="Dashboard" asp-controller="Ideas" asp-action="Index"  class="collapse-item active">Approve</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Categories -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCategoies"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Categories</span>
                </a>
                <div id="collapseCategoies" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Category:</h6>
                        <a asp-area="Dashboard" asp-controller="Categories" asp-action="Index" class="collapse-item active">List Category</a>
                        <a asp-area="Dashboard" asp-controller="Categories" asp-action="Create" class="collapse-item active">Create</a>
                    </div>
                </div>
            </li>
            <!-- Nav Item - Tags -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTags"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-tags"></i>
                    <span>Tags</span>
                </a>
                <div id="collapseTags" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Tag:</h6>
                        <a asp-area="Dashboard" asp-controller="SpecialTags" asp-action="Index" class="collapse-item active">List Tag</a>
                        <a asp-area="Dashboard" asp-controller="SpecialTags" asp-action="Create" class="collapse-item active">Create</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Department -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDepartments"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-building"></i>
                    <span>Departments</span>
                </a>
                <div id="collapseDepartments" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Tag:</h6>
                        <a asp-area="Dashboard" asp-controller="Departments" asp-action="Index" class="collapse-item active">List Department</a>
                        <a asp-area="Dashboard" asp-controller="Departments" asp-action="Create" class="collapse-item active">Create</a>
                    </div>
                </div>
            </li>
