@model QA_Application.Models.Category

@{
    ViewData["Title"] = "Create";
    var summernote = new QA_Application.Models.Summernote("#content_category");

}

<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-action="Index">Category</a></li>
    <li class="breadcrumb-item active" aria-current="page">Create</li>
  </ol>
</nav>

<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create Category</h1>
            </div>
            <form asp-action="Create" method="post" enctype="multipart/form-data" class="user">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h3 class="text-danger">@ViewBag.error</h3>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="ParentCategoryId"></label>
                    <select asp-for="ParentCategoryId" asp-items="@ViewBag.ParentCategoryId" class="form-control"></select>
                    <span asp-validation-for="ParentCategoryId" class="text-danger"></span>
                </div>

                <div class="form-group">
                     <label asp-for="CategoryName"></label>
                    <input  asp-for="CategoryName" type="text" class="form-control form-control-user"
                        id="title" placeholder="Enter Name..." required>
                     <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>

                <div class="form-group">
                     <label asp-for="Description"></label>
                     <input asp-for="Description" class="form-control form-control-user" placeholder="Enter Description..." />
                     <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="FirstDeadline"></label>
                    <input  asp-for="FirstDeadline" type="date" class="form-control">
                    <span asp-validation-for="FirstDeadline" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="FinalDeadline"></label>
                    <input  asp-for="FinalDeadline" type="date" class="form-control">
                    <span asp-validation-for="FinalDeadline" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-success btn-icon-split btn-block">
                <span class="text">Submit</span>
                </button>
            </form>
            <hr>
            <a asp-action="Index" class="btn btn-secondary btn-icon-split btn-block">
                <span class="text">Back</span>
            </a>
        </div>
    </div>
</div>>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <partial name="~/Views/Shared/_SummernotePartial.cshtml" model="summernote" />
}
