@model IEnumerable<QA_Application.Models.Department>

@{
    ViewData["Title"] = "Index";
}

<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-action="Index">Department</a></li>
  </ol>
</nav>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Department List</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Link</th>

                </tr>
                </thead>
                <tbody>
@foreach (var item in Model)
{
    var predix = "department";
    var deleteAction = "Delete";

    var delete = new ActionPopup {
    Id = @item.Id,
    Predix = predix,
    Name = deleteAction,
    Action = deleteAction,
    Labell = "labelledbyDelete"
};

    <partial name="_ActionPopup" model="delete"></partial>

                <tr>
                    <td data-title="ID">@item.DepartmentName</td>
                    <td data-title="Link">
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a href="#" data-toggle="modal" data-target="#@predix@item.Id@deleteAction">Delete</a>
                    </td>
                </tr>      
}
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="~/Views/Shared/_AlertifyPartial.cshtml"/>
}