@model CommentViewModel


<div class="row justify-content-center">
    <div class="col-lg-6">
            <hr>
            <div class="h5 mb-0 font-weight-bold text-gray-800">Your answer</div>
            <form asp-action="AddComment" method="post" enctype="multipart/form-data" class="user">
                <input asp-for="IdeaId" type="hidden" name"ideas" />
                <input asp-for="CommentId" type="hidden" name"comments" />
                <div class="form-group">
                    @*Viết comment ở đây*@
                    <input  asp-for="Message" type="text" class="form-control form-control-user"
                        id="tags" placeholder="Write a comment..." required>
                </div>
            </form>
            <hr>
    </div>
</div>