@model CommentViewModel

<!-- Comments -->
<form asp-action="AddComment" method="post">
    <input asp-for="IdeaId" type="hidden" name"ideas" />
    <input asp-for="CommentId" type="hidden" name"comments" />

    <div class="footer__comments comments">
        <div class="comments__filter filter">Most Relevant
            <i class="filter__icon"></i>
        </div>
        <!-- Comments box -->
        <div class="comments__box box">
            <div class="box__bar bar">
                <input asp-for="Message" type="text" placeholder="Write a commnet..." class="bar__input">
            </div>
            
        </div>
    </div>
</form>
