@model ThumbViewModel

<form class="form-inline offset-md-2" asp-action="ThumbUp" asp-route-id="@Model.IdeaId" method="post">
    <button disabled name="like" type="submit" class="btn btn-primary">
        <i class="fas fa-thumbs-o-up"></i>
        Liked
    </button>
</form>

<form class="form-inline offset-md-1" asp-action="ThumbDown" asp-route-id="@Model.IdeaId" method="post">
<button id="button" name="dislike" type="submit" class="btn btn-primary">
    <i class="fas fa-thumbs-o-up" aria-hidden="true"></i>
    Dislike
</button>
</form>

@section Script {
<script>
    // lấy về button
    var button = document.getElementById('button');
    //gán sự kiện click 
    button.addEventListener("click", function(){
        //Lấy tất cả các class của button và chuyển thành chuỗi
        var allClass = this.classList.toString();
        // kiểm tra nếu chưa tồn tại class active thì thêm class active
        if (allClass.indexOf('active') == -1) {
            this.classList += ' active';
        }
        //Thêm hoặc xóa class fa-thumbs-down
        this.classList.toggle("fa-thumbs-down");
    });
</script>
}