@model QA_Application.Models.Idea

@{
    ViewData["Title"] = "Create";
    var summernote = new QA_Application.Models.Summernote("#content_idea");
}

<div class="text">Edit Idea > @Model.Title</div>


 <div class="modal">
        <div class="modal__overlay">

        </div>

<div class="modal__body">

        <form asp-action="Edit" method="post" enctype="multipart/form-data" class="auth-form">
            <div class="auth-form__container">
                <div class="auth-form__group">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <h3>@ViewBag.error</h3>
                    <input type="hidden" asp-for="Id" />
                    <div class="group">
                        <label asp-for="Title"></label>
                        <input asp-for="Title" type="text" class="group__input" placeholder="Title" >
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
        
                    <div class="group">
                        <label asp-for="Content"></label>
                        <textarea id="content_idea" asp-for="Content" class="group__input" placeholder="Content" ></textarea>   
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>

                    <div class="group">
                        <label asp-for="FileSubmit"></label>
                        <input asp-for="FileSubmit" type="file" class="group__input" name="fileSubmit" accept=".pdf" />
                        <span asp-validation-for="FileSubmit" class="text-danger"></span>
                    </div>

                    <div class="group">
                        <label asp-for="CategoryId"></label>
                        <select asp-for="CategoryId" asp-items="@ViewBag.CategoryId" class="group__input"></select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                    <div class="group">
                        <label asp-for="SpecialTagId"></label>
                        <select asp-for="SpecialTagId" asp-items="@ViewBag.SpecialTagId" class="group__input"></select>
                        <span asp-validation-for="SpecialTagId" class="text-danger"></span>
                    </div>
                </div>
    
                <div class="auth-form__aside mt-16">
                    <div class="auth-form__help">
                        <a asp-action="Index" class="auth-form__link auth-form__forgot">Back to list</a>
                    </div>
                </div>
    
                <div class="auth-form__controls mb-8">
                    <button type="submit" class="btn btn--primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <partial name="~/Views/Shared/_SummernotePartial.cshtml" model="summernote" />
    <partial name="~/Views/Shared/_AlertifyPartial.cshtml"/>
}