@model QA_Application.Areas.Manager.ViewModels.UserRoleViewModel

@{
    ViewData["Title"] = "Assign";
}

<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Assign Role</h1>
            </div>
            <form asp-action="Assign" method="post" enctype="multipart/form-data" class="user">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h3>@ViewBag.error</h3>
                <div class="form-group">
                    <label asp-for="UserId"></label>
                    <select asp-for="UserId" asp-items="@ViewBag.UserId" class="form-control"></select>
                </div>

                <div class="form-group">
                    <label asp-for="RoleId"></label>
                    <select asp-for="RoleId" asp-items="@ViewBag.RoleId" class="form-control"></select>
                </div>


                <button type="submit" class="btn btn-success btn-icon-split btn-block">
                    <span class="text">Submit</span>
                </button>
            </form>
            <hr>
             <button asp-action="GetPost" class="btn btn-success btn-icon-split btn-block">
                <span class="text">Back</span>
             </button>
        </div>
    </div>
</div>>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

