@model QA_Application.Areas.Manager.ViewModels.UserRoleViewModel

@{
    ViewData["Title"] = "Assign";
}

<div class="text">Assign Role</div>


 <div class="modal">
        <div class="modal__overlay">

        </div>

<div class="modal__body">

        <form asp-action="Assign" method="post" enctype="multipart/form-data" class="auth-form">
            <div class="auth-form__container">
                <h3>@ViewBag.message</h3>
                <div class="auth-form__group">
                    <div class="group">
                        <select asp-for="UserId" asp-items="@ViewBag.UserId" class="group__input mt-16"></select>
                    </div>
                    <div class="group">
                        <select asp-for="RoleId" asp-items="@ViewBag.RoleId" class="group__input mt-16"></select>
                    </div>
                </div>
    
                <div class="auth-form__aside mt-16">
                    <div class="auth-form__help">
                        <a asp-action="Index" class="auth-form__link auth-form__forgot">Back to list</a>
                    </div>
                </div>
    
                <div class="auth-form__controls mb-8">
                    <button type="submit" class="btn btn--primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

