@{
    ViewData["Title"] = "Edit";
}

<div class="text">Update Role</div>


 <div class="modal">
        <div class="modal__overlay">

        </div>

<div class="modal__body">

        <form asp-action="Edit" method="post" enctype="multipart/form-data" class="auth-form">
            <div class="auth-form__container">
                <h3>@ViewBag.message</h3>
                <div class="auth-form__group">
                    <input type="hidden" value="@ViewBag.id" name="id" />
                    <div class="group">
                        <input id="name" name="name" type="text" value="@ViewBag.name" class="group__input mt-16" placeholder="Role Name" required>
                    </div>
                </div>
    
                <div class="auth-form__aside mt-16">
                    <div class="auth-form__help">
                        <a asp-action="Index" class="auth-form__link auth-form__forgot">Back to list</a>
                    </div>
                </div>
    
                <div class="auth-form__controls mb-8">
                    <button type="submit" class="btn btn--primary">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

