@{
    ViewData["Title"] = "Index";
}


<div class="text">Account Roles</div>

<div class="auth-form__controls mr-8 mb-8 left">
    <span class="total__item">Total roles: @ViewBag.cRoles</span>
</div>

<div class="auth-form__controls mr-8 mb-8 right">
    <a asp-action="Create" class="btn btn--primary">Create New</a>
    <a asp-action="Assign" class="btn btn--primary ml-12">Assign</a>
</div>

<table id="table" class="table table-hover table-mc-light-blue">
    <thead>
    <tr>
        <th>Name</th>
        <th>Link</th>

    </tr>
    </thead>
    <tbody>
@foreach (var item in ViewBag.Roles)
{
    <tr>
        <td data-title="ID">@item.Name</td>

        <td data-title="Link">
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>   
}
    </tbody>
</table>

@section Scripts {
    <partial name="~/Views/Shared/_AlertifyPartial.cshtml"/>
}
