@model QA_Application.Models.SpecialTag

@{
    ViewData["Title"] = "Create";
}

<div class="text">Edit Tag > @Model.SpecialTagName</div>


<div class="modal">
        <div class="modal__overlay">

        </div>

<div class="modal__body">

        <form asp-action="Edit" method="post" enctype="multipart/form-data" class="auth-form">
            <div class="auth-form__container">
                <div class="auth-form__group">
                    <div class="group">
                        <label asp-for="SpecialTagName"></label>
                        @Html.EditorFor(m => m.SpecialTagName, new {htmlAttributes = new { @class = "group__input mt-16", @type = "text" ,@placeholder="Tag Name"} })
                        <span asp-validation-for="SpecialTagName" class="text-danger"></span>
                    </div>
                </div>
                

                <div class="auth-form__aside mt-16">
                    <div class="auth-form__help">
                        <a asp-action="Index" class="auth-form__link auth-form__forgot">Back to list</a>
                    </div>
                </div>
    
                <div class="auth-form__controls mb-8">
                    <button type="submit" class="btn btn--primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
