@model QA_Application.Models.SpecialTag

@{
    ViewData["Title"] = "Create";
}

<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-action="Index">Tag</a></li>
    <li class="breadcrumb-item"><a asp-action="Index">Edit</a></li>
    <li class="breadcrumb-item active" aria-current="page">@Model.SpecialTagName</li>
  </ol>
</nav>

<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Edit Tags</h1>
            </div>
            <form asp-action="Edit" method="post" enctype="multipart/form-data" class="user">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h3>@ViewBag.error</h3>
                @*<input type="hidden" asp-for="Id" />*@
                <div class="form-group">
                    <label asp-for="SpecialTagName"></label>
                    <input  asp-for="SpecialTagName" type="text" class="form-control form-control-user"
                        id="tags" placeholder="Enter Name...">
                     <span asp-validation-for="SpecialTagName" class="text-danger"></span>
                </div>

                 <button type="submit" class="btn btn-success btn-icon-split btn-block">
                    <span class="text">Submit</span>
                 </button>
            </form>
            <hr>

             <a asp-action="Index" class="btn btn-secondary btn-icon-split btn-block">
                <span class="text">Back</span>
             </a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}