@model IEnumerable<QA_Application.Models.SpecialTag>

@{
    ViewData["Title"] = "Index";
}


<div class="text">Special Tag</div>

<div class="auth-form__controls mr-8 mb-8 left">
    <span class="total__item">Total tags: @ViewBag.Tags</span>
</div>

<div class="auth-form__controls mr-8 mb-8 right">
    <a asp-action="Create" id="login-submit" class="btn btn--primary">Create New</a>
</div>


<table id="table" class="table table-hover table-mc-light-blue">
    <thead>
    <tr>
        <th>Name</th>
        <th>Link</th>

    </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    <tr>
        <td data-title="Name">@Html.DisplayFor(modelItem => item.SpecialTagName)</td>
        <td data-title="Link">
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>   
}
    </tbody>
</table>


@section Scripts {
    <partial name="~/Views/Shared/_AlertifyPartial.cshtml"/>
}