@{
    ViewData["Title"] = "Delete";
}

<p class="alert alert-danger">
    Are you sure to delete?
</p>

<form method="post">
    <button type="submit" class="btn btn-danger">
        Delete Db
    </button>

    <hr>
    <a asp-action="Index">Manager Db</a>
</form>
